body{
    background-color: darkslategray;
}

#DRNKheader{
    text-align: center;
    font-weight: 900;
    font-size: 120%;
}

#formDiv{
    text-align: center;
    width: auto;
}

#submitBtn{
    margin-top: 20px;
    height: 30px;
    width: 112px;
    background-color: darkgray;
    border: 2px solid rgb(110, 110, 110);
    cursor: pointer;
    font-size: 20px;
    border-style: ridge;
}

#submitBtn:hover{
    background-color: rgba(46, 90, 1, 0.644);
    color: rgb(214, 214, 214);
}



.selectors{
    margin-right: 3%;
}

.autoComplete{
    position: relative;
    display: inline-block;
    margin-right: 3%;
}

.selectorsItems {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    /* width: 20%; */
}

.selectorsItems div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.selectorsItems div:hover {
background-color: #e9e9e9;
}


#drinkContainer{
    height: 700px;
    font-size: 24px;
    border-bottom: outset;
    border-left: outset;
    text-align: center;
    background-color: #705A4A;
    width: 72%;
    margin-right: 3%;
    border-color: #383D2E;
    margin-top: 35px;
    margin-bottom: 35px;
    float: right;
    position: relative;
}


#allIngredientsList{
    list-style-type: circle;
}


#drinksList li{
    list-style-type: none;
    border-bottom: 1px solid black;
    margin-left: -39px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: 'Courier', serif;
    font-size: 115%;
    font-style: italic;
}

#drinksList li:hover{
    background-color: rgba(56, 11, 20, 0.521);
    cursor: pointer;
    color: darkgray;
    border: peru;
    border-style: outset;
    z-index: 100;
}


#ingredientsDiv{
    position: absolute;
    float: left;
    left: 7%;
    bottom: 0%;
    width: 40%;
}

#drinkImage{
    width: auto;
    height: 45%;
}

/* #instructionsHeader{
    
} */

#instructionsDiv{
    position: absolute;
    float: right;
    right: 7%;
    bottom: 0%;
    width: 40%;
}

#instructionsList{
    list-style-type: upper-roman;
}

#selectDrinks{
    background-color: #82828275;
    height: 90%;
    width: 100%;
    overflow: auto;
}


#navDiv{
    background-color: #423336;
    float: left;
    margin-top: 35px;
    width: 18%;
    height: 700px;
    text-align: center;
    /* overflow: auto; */
    margin-left: 3%;
    margin-bottom: 35px;
    border-bottom: outset;
    border-left: outset;
    border-color: #A68E72;
}

#possibleDrinks{
    font-family: 'Courier', serif;
    font-size: 130%;
    font-style: italic;
}


#btnRandomizer{
    color:darkgray;
    background: #eee;
    border: outset;
    background-color: inherit;
    /* padding: 14px 28px; */
    font-size: 36px;
    cursor: pointer;
    position: relative;
    top: 5px;  
    height: 47px;
    width: 47px;
}

#btnRandomizer:hover{
    background-color: darkgray;
    color: darkslategrey;
    border-style: inset;
    border-color: darkslategrey;
}


#runningIngredientsDiv{
    margin: auto;
    width: 30%;
    text-align: center;
    background-color: #E0E0E0;
}

#activeIngredients{
    margin-top: -6px;
    text-transform: capitalize;
    font-size: 110%;
}

#resetBtn{
    margin-bottom: 2%;
    font-family: 'arial', sans-serif;
    font-size: 100%;
    background-color: rgba(77, 77, 119, 0.288);
    color: rgb(250, 250, 250);
    cursor: pointer;
    border-style: outset;
}

#resetBtn:hover{
    color: black;
    border: rgba(155, 42, 22, 0.856);
    border-style: inset;
    border-width: 2px;
    background-color: rgba(141, 33, 33, 0.438);
}
 

/* ----------------------------------------------------------------------------------------------- */




/* 
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.btn-group button {
    background-color: darkgray;
    border: 1px solid darkgray;
    padding: 10px 24px;
    cursor: pointer;
    font-size: 20px;
}
.btn-group-vertical.center{
    text-align: center;
}
.btn-group{
    width:50%;
    margin-left:25%;
    margin-right:25%;
}
.btn-group button:hover {
    background-color: white;
}

.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 36px;
    cursor: pointer;
    display: inline-block;
}
/* On mouse-over */
/*.btn:hover {background: #eee;}
.randomizer {color:darkgray;} */